.lisu-con {
	padding: 10px 20px;
	border-radius: 2px;
	overflow: auto;
	background-color: #f2f2f2
}

.lisu-input {
	width: 146px;
	height: 34px;
	margin: 2px 0;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	line-height: 34px;
	padding: 0 10px;
	outline: none;
	font-size: 13px
}

.lisu-search {
	width: 100%;
	margin: 2px 0;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	line-height: 34px;
	padding: 0;
	outline: none;
	font-size: 13px;
	border-left: none;
	border-right: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-shadow: 0 0 7px #dce5e6;
	box-shadow: 0 0 7px #dce5e6
}

.lisu-search .search-input {
	width: -webkit-calc(100% - 52px);
	width: calc(100% - 52px);
	outline: none;
	border: none;
	padding: 0 6px
}

.lisu-search i {
	min-width: 40px
}

.lisu-form-body {
	border-radius: 2px;
	background-color: #ffffff;
	padding: 10px 15px
}

.lisu-form-body .lisu-form-item {
	width: 100%;
	margin: 0 0 20px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-moz-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	position: relative
}

.lisu-form-body .lisu-form-item .lisu-label {
	width: 68px;
	text-align: justify;
	-moz-text-align-last: justify;
	text-align-last: justify;
	padding: 0 15px 0 0;
	font-size: 13px;
	color: #999999
}

.lisu-form-body .lisu-form-item .lisu-input {
	width: calc(100% - 103px) !important;
	width: -webkit-calc(100% - 103px) !important
}

.lisu-form-body .lisu-form-item .lisu-text {
	width: calc(100% - 103px);
	width: -webkit-calc(100% - 103px);
	margin: 2px 0;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	line-height: 34px;
	padding: 10px;
	outline: none;
	font-size: 13px;
	resize: none;
	line-height: 1.3
}

.lisu-form-body .lisu-form-item .lisu-div {
	display: inline-block;
	width: calc(100% - 103px);
	width: -webkit-calc(100% - 103px);
	min-height: 34px;
	max-height: 72px;
	margin: 2px 0;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	line-height: 34px;
	padding: 0 10px;
	outline: none;
	font-size: 13px;
	overflow: auto
}

.lisu-form-body .lisu-form-item .lisu-div .lisuTag {
	height: 24px;
	margin: 3px 3px 3px 0;
	display: inline-block;
	line-height: 24px;
	padding: 0 4px 0 8px;
	border: 1px solid #e8eaec;
	border-radius: 3px;
	background: #f7f7f7;
	font-size: 12px;
	cursor: pointer;
	color: #515a6e;
	transition: all 0.5s;
	-webkit-transition: all 0.5s
}

.lisu-form-body .lisu-form-item .lisu-div .lisuTag .lisuTag-remove {
	position: relative;
	top: -1px;
	right: 0;
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABcElEQVRYR+2Vz0rDQBDGvyHJIwg9FBT04EEJZffSYtpX0DcV8QVsRT10E4oEPHhQ6EFR8CQE+mdkShZKEbNphb0ktyS78/3m25kdgueHPOujAWgcaByodGA8Hl8COAVwrrV+dGlbY8wRgCsAn0qp/l97KgGMMTcAJMgXMw+qIEScmUdE1GLmXGt9shNAmqZ7y+VySETHJURPa/30W9Asyw4Wi8W9iAN4DcPwLI7j6U4AslkgmPkOgFj7wcz9TYhSXDJvM/M0iqJulbjErjwCS5/neasoipGFANBTSj3L/8lk0p7NZpL5SjwIgqTT6by41IszgAQrIR4A7DPzGxElYRgW8/n81n4LgqDrKl7LAZuNZLsuCOCbiA4tkHXFJfutADYtl/dtxf8NQApzvSZcs98KwOsReC1Cr23o9SLyfhUbY4YAEm/DqBzHMtEuqiahbb9yIl4T0btSarDzMKrT13XX1poFdYO7rG8AGgcaB34AxngkMHgq/wwAAAAASUVORK5CYII=") no-repeat center center;
	background-size: 16px 16px;
	vertical-align: middle;
	background-color: #eff1f2;
	padding: 1px;
	border-radius: 50%
}

.lisu-form-body .lisu-form-item .lisu-error {
	color: #FF6347;
	position: absolute;
	bottom: -18px;
	text-align: center;
	left: 84px;
	background-color: #ffffff;
	display: inline-block;
	z-index: 1;
	padding: 0 10px 0 0;
	font-size: 12px
}

.lisu-form-body .lisu-form-item .lisu-error-active {
	border-color: #FF6347 !important;
	-webkit-box-shadow: 0 0 3px #FF6347;
	box-shadow: 0 0 3px #FF6347
}

.lisu-form-body .lisu-form-item .require:before {
	position: absolute;
	left: -10px;
	top: 50%;
	transform: translateY(-50%);
	content: '*';
	display: inline-block;
	margin-right: 4px;
	line-height: 1;
	font-family: SimSun;
	font-size: 12px;
	color: #f30;
}

.lisu-form-body .lisu-form-item:not (:last-child):after {
	content: '';
	position: absolute;
	left: 13px;
	right: 5px;
	top: 100%;
	height: 1px;
	margin-top: 8px;
	background-color: #ECECEC
}

.lisu-alert-waring {
	padding: 15px;
	margin: 16px 0 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
	font-size: 0.8em
}

.lisu-card {
	background-color: #f2f2f2;
	padding: 10px 20px;
	overflow: auto
}

.lisu-card .lisu-card-con {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-moz-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-moz-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.lisu-card .lisu-card-con>div {
	min-width: 25%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-moz-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-moz-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start
}

@media only screen and (max-width: 1400px) {
	.lisu-card-con>div {
		min-width: 33% !important
	}
}


/*颜色区域*/

.lisu-col-blue {
	color: #1E9FFF;
}

.lisu-col-green {
	color: #5FB878;
}

.lisu-col-red {
	color: #FF6347;
}

.lisu-col-cgreen {
	color: #09be35;
}

.lisu-col-yellow {
	color: #FF5722;
}

.lisu-col-gemGreen {
	color: #40E0D0;
}


/*停车卡搜索效果*/

input[type='text']:read-only {
	cursor: pointer!important;
}

.beforeActive-parkcard {
	animation: beforeParkCardAni .4s 1;
}

@keyframes beforeParkCardAni {
	from {
		transform: rotateX(0deg);
		-webkit-transform: rotateX(0deg);
		-ms-transform: rotateX(0deg);
	}
	to {
		transform: rotateX(90deg);
		-webkit-transform: rotateX(90deg);
		-ms-transform: rotateX(90deg);
	}
}

.afterActive-parkcard {
	animation: afterParkCardAni .4s 1;
	background-color: #FFFFFF!important;
	color: #333333!important;
	border: 1px solid #ECECEC!important;
}

.afterActive-parkcard:hover {
	background: #1E9FFF!important;
	color: #ffffff!important;
}

@keyframes afterParkCardAni {
	from {
		transform: rotateX(90deg);
		-webkit-transform: rotateX(90deg);
		-ms-transform: rotateX(90deg);
	}
	to {
		transform: rotateX(0deg);
		-webkit-transform: rotateX(0deg);
		-ms-transform: rotateX(0deg);
	}
}


/*停车卡搜索效果结束*/

.chosen-drop {
	width: 148px !important
}

.chosen-single {
	line-height: 30px !important;
	padding: 1px 12px !important
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
	background-position: -16px 7px !important
}

.ibox-title {
	padding: 11px 15px !important;
	min-height: 26px !important;
	line-height: 26px !important
}

.layui-layer-content,
.wrapper,
.lisu-inLeft {
	animation: lisuInLeaft 1s 1;
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation: lisuInLeaft 1s 1
}

@keyframes lisuInLeaft {
	from {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px)
	}
	to {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

@-webkit-keyframes lisuInLeaft {
	from {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px)
	}
	to {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

@media only screen and (max-width: 1400px) {
	.layui-input-inline {
		width: 120px!important;
	}
}